
body {
    background-color: brown;
}


@media (max-width: 500px) {
    header {
        font-family: "Lucida Console", Courier, monospace;
    }
    .navbar {
        float: left;
        width: 50%;
    }
     
    body {
        background-color: beige;
    }
  }

@media (orientation: landscape) {
    main {
        color: aqua;
    }
}

