nav {
    float: left;
    width: 50%;
    position:static;
}

@media (max-width: 500px) {
    header {
        font-family: "Lucida Console", Courier, monospace;
    }
    
     
    body {
        background-color: beige;
    }
  }

